 	   * {
             margin: 0;
             padding: 0;
         }

         hr {
             margin: 15px 0;
             border: .2px solid rgba(241,241,241, .2);
         }

         body {
             background: #333;
             color: #fff;
             font-family: 'Roboto', sans-serif;
             font-size: 14px;
         }
         .container {
             width: 1170px;
             margin: 0 auto;
         } 
         .input {
             border: none;
             border-bottom: 1px solid #fff;
             padding: 5px 0;
             background: transparent;
             color: #fff;
         }

         #FileUpload1 {
             background: transparent!important;
         }

         .button {
             cursor: pointer;
             border: none;
             background: transparent;
             border: 2px solid #fff;
             color: #fff;
             border-radius: 3px;
             text-align: center;
             display: inline-block;
             padding: 5px 10px 4px;
             transition: all .3s ease;
             font-weight: 700;
             text-transform: uppercase;
             font-size: 11px;
             margin-left: 10px;
            
         }
         

         .button:hover {
             background: #fff;
             color: #333;   
         }

         input:focus {
             outline: none;
         }

         #form1 {
             width: 650px;
             margin: 70px auto 20px;
             background: rgba(140, 51, 51, 0.28);
             padding: 20px;
             box-sizing: border-box;
             border-radius: 5px;
         }

         #form1 hr:first-child {
             opacity:0;
         }

         #sentenceBD {
             margin: 0 auto;
             width: 588px;
             text-align: justify;
             border: 2px solid #fff;
             padding: 20px;
             box-sizing: border-box;
             border-radius: 5px;
             line-height: 1.3em;
         }